@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
   
body{
    font-family: Roboto;
}

.page1{
    background-color: #1F2937;
}

.nav-left{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 70px;
}

.header-links{
    font-size: 18px;
    color:#E5E7EB;
    margin-right:30px;
    text-decoration: none;
}

.navbar{
    display:flex;
    flex-direction: row;
    padding-top:20px;
}

.nav-left, .nav-right{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:100px; 
}

.content-left, .content-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
}

.content-right{
  width: 500px;
  height: 250px;
  background-color: #818080;
  color: white;
  margin-right: 100px;
}

.content-right img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-right: 5px;
}

p{
    font-size: 18px;
    color:#E5E7EB;    
}

.p-first{
    margin-left:115px;
    padding:3px;
}

.signup-button{
    background-color:#3882F6;
    color:#E5E7EB;  
    border-radius: 5px;
    padding:5px 20px;
    border:none;
    margin-right:240px;
    margin-top: 3px;
}

.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-containers{
    width:150px;
    height: 150px;
    border-color:#3882F6;
    border-style: solid;
    border-radius: 10px;
    margin:25px;
}

.image-containers img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
}

#information{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin:40px;
}

#p-second{
    font-size: 16px;
    text-align: center;
    color: #818080;
}

.page3{
    background-color: #E5E7EB;
    margin-top: 150px;
}

.quote{
    padding: 150px 350px 150px 350px;
    font-style: italic;
}

.p-third{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.p-fourth{
    color:#1F2937;
    font-weight: 900;
    margin-left: 570px;
}